<h1>About Aly</h1>
<p>Aly Fluckey is a Ruby/Rails developer with
<a href="http://neo.com">Neo Innovation</a>,
currently living in Columbus, Ohio.
When she is not writing code, you can find her making or painting things,
listening to music, wandering through nature or enjoying good company.
</p>
<%= link_to 'Contact Aly', contact_path %>
