@import "bourbon";
@import "neat";

body {
  background-color: #5C5C5C;
}

.navbar {
  margin: 15px;
  .home {
    @include outer-container;
    @include span-columns(6);
    @include shift(3);
    font-size: 60px;
    text-decoration: none;
    text-align: center;
  }
}

a {
  text-decoration: none;
  font-family: 'Federo', sans-serif;
}

a:visited {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #7A008A;
}




