<div class="navbar">
  <div class="home">
    <%= link_to '{AF}' , '/home' %>
  </div>
  <%= link_to 'ABOUT', '/about' %>
  </br>
  <%= link_to 'CONTACT', '/contact' %>
  </br>
  <%= link_to 'BLOG', '/posts' %>
</div>

